extends base.jade

block content
    script(src="adminHelper.js")
    .container
        h1.text-center Admin Dashboard
        h2 Number of users: #{users.length}
        table.table.table-striped.table-bordered
            tr.row
                th.col-sm-1
                    | #
                th.col-sm-3
                    | User
                th.col-sm-3
                    | Email
                th.col-sm-2
                    | Number of Forms
                th.col-sm-2
                    | Max # of Forms
                th.col-sm-1
                    | Max Applicants
                th.col-sm-1
                    | delete
                th.col-sm-1
                    | Edit Max Forms
                th.col-sm-1
                    | Edit Max Applicants
                th.col-sm-1
                    | Edit Form
                                        
            - for (var i = 0; i < users.length ; i++)
                tr.row
                    td.col-sm-1
                        | #{i+1}
                    td.col-sm-3
                        | #{users[i].name}
                    td.col-sm-3
                        | #{users[i].email}
                    td.col-sm-1
                        | #{users[i].forms.length}
                    td.col-sm-1
                        if users[i].maxNumOfForms == undefined
                            | NA
                        else
                            | #{users[i].maxNumOfForms}
                    td.col-sm-1
                         if users[i].maxNumOfApplicantsPerForm == undefined
                            | NA
                         else
                            | #{users[i].maxNumOfApplicantsPerForm}
                    td.col-sm-1
                          a.btn.btn-danger(href='/admin/delete?id=#{users[i]._id}') delete
                    td.col-sm-1
                          button.editMaxForms.btn.btn-success(class="EditMaxForms", href='#', userId = users[i]._id) Edit Max Forms
                    td.col-sm-1
                          button.editMaxApplicants.btn.btn-info(class="EditMaxApplicants", href='#', userId = users[i]._id) Edit Max Applicants
                    td.col-sm-1
                          a.btn.btn-primary(href='/admin/editForms?id=#{users[i]._id}') Edit Forms
