extends base.jade

block content
    h2 My Forms
    br
    if forms.length == 0
        h3
            | You have no forms yet, 
            a(href="/create") create one!
    else
        table.table.table-striped.table-bordered
            tr.row
                th.col-sm-1
                    | #
                th.col-sm-4
                    | Name
                th.col-sm-2
                    | # of Applicants
                th.col-sm-2
                    | View
                th.col-sm-2
                    | Edit
                th.col-sm-2
                    | Delete
            - for (var i = 0; i < forms.length ; i++)
                tr.row
                    td.col-sm-1
                        | #{i+1}
                    td.col-sm-4
                        | #{forms[i].title}
                    td.col-sm-2
                        | #{forms[i].numOfApplicants}
                    td.col-sm-2
                        a.btn.btn-success(href="/view?id=#{forms[i]._id}") View
                    td.col-sm-2
                        a.btn.btn-primary(href="/edit?id=#{forms[i]._id}") Edit
                    td.col-sm-2
                        a.btn.btn-danger(href="/delete?id=#{forms[i]._id}") Delete