doctype html
html(lang="en")
    head
        title #{title}
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="general.js")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        script.
            $(document).ready(function(){
                $("#id").val(getUrlParameter("id"));
            });
            $(document).on("click", "#submit", function(event){
                var fields = $('input,textarea,select').filter('[required]:visible');
                var flag = false;
                var is_safari = navigator.userAgent.indexOf("Safari") > -1;
                if(is_safari)
                    for (var i = fields.length - 1; i >= 0; i--) {
                        if( $(fields[i]).val()=='' ){
                            alert("please fill out field field '"+$(fields[i]).prop('name')+"'.");
                            return false;
                        }
                        if( $(fields[i]).is(':invalid') ){
                            alert("please correct field '"+$(fields[i]).prop('name')+"'.");
                            return false;  
                        }
                    }//end for loop over fields
                $(".fileinput").each(function(index){
                    var filename = $(this).val();
                    var extension = filename.replace(/^.*\./, '');
                    var allowedExtensions = $(this).prop('accept').split(',');
                    if(allowedExtensions.indexOf(extension)==-1){
                        alert("file extension does not conform to allowed types");
                        return false;
                    }
                    if($(this)[0].files[0].size>10*1024*1024){
                        alert("File limit is 10 MB");
                        return false;
                    }
                });
            });//end onclick
    body
        .container(style="background-color: #{form.bgColor};")
            if form.companyBannerUrl
                img.img-responsive.center-block(src="#{form.companyBannerUrl}",style="height:350px;max-width:1000px;")

            h2 #{form.companyName} - #{form.title}
            - for (var i = 0; i < form.description.split("\n").length; i++)
                p #{form.description.split("\n")[i]}

            br
            br
            hr

            form(method="post",action="/applicantsubmit",enctype="multipart/form-data")
                input(hidden,id="id",name="id")
                - for (var i = 0; i < form.fields.length; i+=2)
                    - var rowFields = [form.fields[i]]
                    if i+1 < form.fields.length
                       - rowFields.push(form.fields[i+1])

                    .form-group.row
                        - for (var j = 0; j < rowFields.length; j++)
                            - var field = rowFields[j]
                            - var name = field.name + ":" + (field.isRequired ? "*" : "")
                            label(for="#{field.name}",class="col-sm-2 col-form-label") #{name}
                            .col-sm-3
                                if field.isRequired
                                    if field.type == "Select"
                                        select.form-control.typeselect(id="#{field.name}",name="#{field.name}")
                                            - for (var k = 0; k < field.options.length; k++)
                                                option #{field.options[k]}
                                    else if field.type == "File"
                                        input.form-control.fileinput(type="file",name="#{field.name}",id="#{field.name}",required,accept="#{field.options.join(',')}")
                                        small.form-text.text-muted Allowed extensions: #{field.options.join(",")}
                                    else
                                        input.form-control(type="#{field.type}",name="#{field.name}",id="#{field.name}",required)
                                else
                                    if field.type == "Select"
                                        select.form-control.typeselect(id="#{field.name}",name="#{field.name}")
                                            - for (var k = 0; k < field.options.length; k++)
                                                option #{field.options[k]}
                                    else if field.type == "File"
                                        input.form-control.fileinput(type="file",name="#{field.name}",id="#{field.name}",accept="#{field.options.join(',')}")
                                        small.form-text.text-muted Allowed extensions: #{field.options.join(",")}
                                    else
                                        input.form-control(type="#{field.type}",name="#{field.name}",id="#{field.name}")
                button.btn.btn-primary(type="submit",id="submit") Submit
            if form.emailImageUrl
                img.img-responsive.center-block(src="#{form.emailImageUrl}",style="height:350px;max-width:1000px;")